<header>
	<style>
    
		.navbar-default {
		  width: 100%;
		  height: 100%;
		  padding: 6px;
          background-color: white !IMPORTANT;
          border-color: white !IMPORTANT;
		}

        #menuContainer {
            display: inline;    
        }

        .menuItem {
            display: inline;
            
        }

		#navbar {
			background-color: white;
		}

        #logoImg {
            height:8vh;
        }

        .navButtons {
            color: black;
            font-size: 25px;
            border: none;
            background: none;

        }

        #navSearch {
            border: 0;
        }

	</style>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div id="navbar">
                
                <div id="menuContainer">
                    <a href="/"><img id="logoImg" src="imgs/lunge.png"></a>
                    <form action="/" id="getMarket" class="menuItem" method="get">
            			<input id="marketButton" class="navButtons" type="submit" value="Market" />
    				</form>
    				<form action="/sellerPage" id="getHome" class="menuItem" method="get">
            			<input id="sellerButton" class="navButtons" type="submit" value="My Page" />
    				</form>
    				<form action="/account" id="getHome1" class="menuItem" method="get">
            			<input id="accountButton" class="navButtons" type="submit" value="Account Settings" />
    				</form>
    				<form action="/sellerRegister" id="getHome2" class="menuItem" method="get">
            			<input id="sellRegButton" class="navButtons" type="submit" value="Become A Seller" />
    				</form>
                    <form action="/databaseTesting" id="dbtesting" class="menuItem" method="get">
                        <input id="dbtestingButton" class="navButtons" type="submit" value="Database Testing" />
                    </form>
                    <form action="/userCreation" id="userCreation" class="menuItem" method="get">
                        <input id="userCreationButton" class="navButtons" type="submit" value="Sign up" />
                    </form>
                </div>  
            </div>
    
        </div>
    </nav>

</header>
