<header>
	<style>
    
		.navbar-default {
		  width: 100%;
		  height: 100%;
		  padding: 6px;
          background-color: rgba(255, 255, 255, 0.0) !IMPORTANT;
          border-color: rgba(255, 255, 255, 0.0) !IMPORTANT;
		}

        #menuContainerLeft {
            display: inline; 
            float: left;  
            margin-top: 5px;
            margin-left: 10px;
            margin-right: 10px;
        }

        #menuContainerRight {
            display: inline;  
            float: right;  
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .menuItem {
            display: inline;
            
        }

		#navbar {
			background-color: white;
		}

        #logoImg {
            height:8vh;
            display: inline;
        }

        #navSearch {
            display: inline;
            height: 43px;
            padding: 10px 18px;
            font-size: 15px;
            line-height: 1.42857143;
            color: #333333;
            background-color: #ffffff;
            background-image: none;
            border: 1px solid #cccccc;
            border-radius: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            margin-left: 30px;
            margin-right: 3px;
            width: 30vw;
        }

        .navButtons {
            display: inline;
            padding: 10px 18px;
            font-size: 17px;
            line-height: 1.43;
            color: white;
            background-color: #7AC043;
            background-image: none;
            border: 1px solid #7AC043;
            border-radius: 10px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }

        .navButtons:hover {
            background-color: #a0e36f;
            transition: 0.3s;
            border: 1px solid #a0e36f;
        }

        #advSearch{
            margin-top: 17px;
        }

        /* Modal Styling */
        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: absolute; /* Stay in place */
          z-index: 1; /* Sit on top */
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
          text-align: center;
        }

        /* Modal Content/Box */
        .modal-content {
          background-color: #fefefe;
          margin: 15% auto; /* 15% from the top and centered */
          padding: 20px;
          border: 1px solid #888;
          width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }

        #advSearchModal{
            display: none;
        }

        #loginBoxModal{
            display: none;
        }

	</style>


    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div id="navbar">
                
                <div id="menuContainerLeft">
                    
                    <form  method="get" >
                        <a href="/"><img id="logoImg" src="imgs/lunge.png"></a>
                        <input id="navSearch" placeholder="Quick Search...">
                        <button type="submit" id="navSubmit" class="navButtons">
                            <span class="glyphicon glyphicon-search" style="color:white"></span>
                        </button> 
                    </form>
                    
                </div> 
                <button id="advSearch" class="navButtons">Advanced Search</button>
                <div id="menuContainerRight">
                    <form action="/sellerPage" id="getHome" class="menuItem" method="get">
                        <input id="sellerButton" class="navButtons" type="submit" value="My Page" />
                    </form>

                    <button id="signInButton" class="navButtons">Sign In/Register</button>

                </div>  
            
            </div>
        </div>
    </nav>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
            <div id="advSearchModal">
                Advanced Searching :^)
            </div>
            <div id="loginBoxModal">
                  <div id="loginBox" class="loginBox">
                    <div class="loginBoxInternal">
                      <h2>Sign In to the Marketplace</h2>
                      <div class="submissionForm">


                        <form class="form-horizontal" action="/userSignIn" method="POST" >
                          <div class="form-group">
                            <label class="control-label col-sm-2">Email: </label>
                            <div id="emailInput" class="col-sm-10">
                              <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                            </div> 
                          </div>
                          <div class="form-group">
                            <label class="control-label col-sm-2">Password: </label>
                            <div id="passwordInput" class="col-sm-10">
                              <input type="password" name="password" class="form-control" placeholder="Enter your password" required>
                            </div>
                          </div>


                          <div class="text-center">
                            <button class="navButtons" type="submit" value="Submit" >Sign In</button>
                          </div>
                        </form>
                        <p><b>Don't have a user account?</b></p>
                        <div class="createAccountButtons">
                            <input class="navButtons" type="button" onclick="location.href='/userCreation';" value ="Create a User Account" />
                            <input class="navButtons" type="button" onclick="location.href='/sellerRegister';" value="Become a Verified Seller"/>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
      </div>

    </div>

</header>
