html, body {
    height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

div .col{
  text-align: left;
  background-color: gray;
}



.wrapper{
  display: table;
  width: 100%;
  height: 100%;
}

.innerwrap {
  display: table-row;
  height: 100%;
}

.footer {
  display: table-row;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

.background {
  background: url(../imgs/bg.jpg);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: 150%;
}

.well {
  margin: auto;
  width: 80%;
  background-color: rgba(200, 200, 200, 0.5);
  padding-bottom: 5%;
}

h4 {font-size: 16px;}
}

#logoImg {
    height:5vh;
}

.container {
	position:absolute;
	top:10%;
	left:40%;
	clear: both;
}

.container input {
	width:100%;
	clear: both;
}

#update {
	position:absolute;
	top:101%;
	left:60%;
	width:20%;
}

#cancel {
	position:absolute;
	top:101%;
	left:82%;
	width:20%;
}

