html, body {
    height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

#featuredRegimes {
    margin-left: 10%;
    margin-right: 10%;
}

#welcomeMessage {
    width: 100%;
    font-size: 400%;
    text-align: center;
}

#signupButtons {
    width: 100%;
    text-align: center;
}

.welcomeButtons {
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
    text-align: center;
    height: 75px;
    width: 150px;
    margin: 10px;
}

#featuredSellers {
    font-size: 200%;
    text-align: left;
}

div .col{
  text-align: left;
  background-color: gray;
}



.wrapper{
  display: table;
  width: 100%;
  height: 100%;
}

.innerwrap {
  display: table-row;
  height: 100%;
}


.background {
  background: url(../imgs/bg.jpg);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: 150%;
}

.well {
  margin: auto;
  width: 80%;
  background-color: rgba(200, 200, 200, 0.5);
  padding-bottom: 5%;
}

