html, body {
    height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

div .col{
  text-align: left;
  background-color: gray;
}

.background {
  background: url(../imgs/bg.jpg);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: 150%;
}

.grid-container {
      display: grid;
      width: 1920px;
      
      align-content: space-around;
      left: 50%;
      grid-template-columns: auto auto auto;
      grid-template-rows: 300px 300px 300px;
      grid-gap: 50px;
      background-color: rgba(200, 200, 200, 0.25);
      padding: 15px 15px;
      margin: 10px;
}
        
.grid-container > div {
  background-color: #4f8f9e;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.mybox{ 
    display:flex; 
    align-items: center; 
    justify-content: center; 
}

.mybox2{ 
    display:flex; 
    align-items: center; 
    justify-content: center; 
	padding: 250px 0;
}

.regimePic {
  object-fit: cover;
  height: 225px;
  width: 225px;
  border-radius: 10px;
}

.regimePicCareer {
  object-fit: cover;
  height: 240px;
  width: 240px;
  border-radius: 10px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("https://lunge-2.herokuapp.com/imgs/temp/Career.jfif") no-repeat right top;
  background-size: cover;
  color: white;
  font-size: 40px;
  text-shadow: 4px 4px 6px #000000;
}

.regimePicFinance {
  object-fit: cover;
  height: 240px;
  width: 240px;
  border-radius: 10px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("https://lunge-2.herokuapp.com/imgs/temp/Finance.jfif") no-repeat right top;
  background-size: cover;
  color: white;
  font-size: 40px;
  text-shadow: 4px 4px 6px #000000;
}

.regimePicHealth {
  object-fit: cover;
  height: 240px;
  width: 240px;
  border-radius: 10px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("https://lunge-2.herokuapp.com/imgs/temp/Health.jfif") no-repeat right top;
  background-size: cover;
  color: white;
  font-size: 40px;
  text-shadow: 4px 4px 6px #000000;
}

.regimePicLegacy {
  object-fit: cover;
  height: 240px;
  width: 240px;
  border-radius: 10px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("https://lunge-2.herokuapp.com/imgs/temp/Legacy.jfif") no-repeat right top;
  background-size: cover;
  color: white;
  font-size: 40px;
  text-shadow: 4px 4px 6px #000000;
}

.regimePicPassions {
  object-fit: cover;
  height: 240px;
  width: 240px;
  border-radius: 10px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("https://lunge-2.herokuapp.com/imgs/temp/Passions.jfif") no-repeat right top;
  background-size: cover;
  color: white;
  font-size: 40px;
  text-shadow: 4px 4px 6px #000000;
}

.regimePicSocial {
  object-fit: cover;
  height: 240px;
  width: 240px;
  border-radius: 10px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("https://lunge-2.herokuapp.com/imgs/temp/Social.jfif") no-repeat right top;
  background-size: cover;
  color: white;
  font-size: 40px;
  text-shadow: 4px 4px 6px #000000;
  
}

.regimePicSpiritual {
  object-fit: cover;
  height: 240px;
  width: 240px;
  border-radius: 10px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("https://lunge-2.herokuapp.com/imgs/temp/Spiritual.jfif") no-repeat right top;
  background-size: cover;
  color: white;
  font-size: 40px;
  text-shadow: 4px 4px 6px #000000;
}

