html, body {
    height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

div .col{
  text-align: left;
  background-color: gray;
}

.background {
  background: url(../imgs/bg.jpg);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: 150%;
}

.grid-container {
      display: grid;
      width: 1920px;
      height: 1200px;
      align-content: space-around;
      left: 50%;
      grid-template-columns: auto auto auto;
      grid-template-rows: 300px 300px 300px;
      grid-gap: 50px;
      background-color: #444;
      padding: 6px;
}
        
.grid-container > div {
  background-color: #777;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.mybox{ 
    display:flex; 
    align-items: center; 
    justify-content: center; 
}
