<!DOCTYPE html>

<html lang="en">

<head>
   <meta charset="utf-8" />

   <title>Lunge</title>
    {{>header1}}
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Bootstrap/css/cosmo/bootstrap.min.css">
    <script src="./Bootstrap/js/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="./Bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style/marketplaceStyle.css">
</head>
    
<body>

<div class="header">

  </div>

  <div class="background">
  </div>

    </div>
  </nav>

    <section id="pageContent">
            <main role="main">
                <center>
                    <h2>Marketplace</h2>
                </center>
            </main>
    </section>

<div class="mybox">
    <div class="grid-container">
            <div><a href="/regimePage"><img class="regimePic" src="imgs/temp/1.jfif"></a><div>Regime 1</div></div>
            <div><a href="/regimePage"><img class="regimePic" src="imgs/temp/2.jfif"></a><div>Regime 2</div></div> 
            <div><a href="/regimePage"><img class="regimePic" src="imgs/temp/3.jfif"></a><div>Regime 3</div></div> 
            <div><a href="/regimePage"><img class="regimePic" src="imgs/temp/4.jfif"></a><div>Regime 4</div></div> 
            <div><a href="/regimePage"><img class="regimePic" src="imgs/temp/5.jfif"></a><div>Regime 5</div></div> 
            <div><a href="/regimePage"><img class="regimePic" src="imgs/temp/6.jfif"></a><div>Regime 6</div></div> 
            <div><a href="/regimePage"><img class="regimePic" src="imgs/temp/7.jfif"></a><div>Regime 7</div></div> 
            <div><a href="/regimePage"><img class="regimePic" src="imgs/temp/8.jfif"></a><div>Regime 8</div></div>
            <div><a href="/regimePage"><img class="regimePic" src="imgs/temp/9.jfif"></a><div>Regime 9</div></div>  
        </div>
</div>
    
        
        
      

</body>
<script src="js/modal.js"></script>
</html>
